*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

img.optional{
    width: 100%;
}

.starter{
    display: block;
    width: 100%;
    text-align: center;
}

.control {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.starter p{
    color: red;
    position: relative;
    margin-right: 10px;
}

.control p{
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
   }
   
   .switch input {
    display: none;
   }
   
switch input{
    font-size: 20px;
   }

   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3C3C3C;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #C3FCF1;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
   }
   
   input:checked + .slider {
    background-color: #F46C36;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px #F46C36;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
   }
   
   .slider:after {
    content: 'DISABLED';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
   }
   
   input:checked + .slider:after {
    content: 'ENABLED';
   }
   




/* ----------------------------------------------------------------- */

sup {
    vertical-align: super;
    font-size: smaller;
}


.sub-header{
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,1), rgba(4,9,30,1)),url(images/10446513.jpg);
    background-position: center;
    background-size: cover;
    background-color: black;
    text-align: center;
    color: #C3FCF1;
}

.sub-header h1{
    margin-top: 50px;
    font-size: 40px;
    color: #F46C36;
}



.formula-container {
    background-color: white;
    display: flex;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.col-left {
    flex-basis: 15.5%;
    text-align: right;
    background-color: white;
}

.col-right {
    flex-basis: 15.5%;
    text-align: left;
    background-color: white;
}

.midcol {
    flex-basis: 69%;
    max-width: 900px;
}

.midcol img {
    width: 100%;
}

#spaceoneunitone {
    height: 29%;
}

#spacetwounitonetwo {
    height: 11.5%;
}

#leftonethree{
    height: 2%;
}

#rightoneone {
    height:45%;
}

#rightonetwo {
    height:4.5%;
}

.sidecolerror {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    border: black 1px;
}

.sidecolmotion {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
} 

.sidecolwork {
    height: 28.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
}

.sidecolforces {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue
}

.sidecolmom {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
}

.annotation {
    margin: auto 3px;
    font-size: 1.5vw;
    position: relative;
    word-break: break-word;
}

.annotation img{
    width: 350px;
    margin-top: 10px;
}

.annotation span{
    word-break: break-word;
    line-height: 1.25;
    position: absolute;
    color: black;
    background: #e6f9fa;
    border: black 3px solid;
    width: max-content;
    max-width: 410px;
    height: fit-content;
    font-size: 1.5vw;
    font-weight: 500;
    top: -3px;
    padding: 1px 3px 3px 3px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
    text-align: left;
} 

.col-left .annotation span{
    left: 100%;
    margin-left: 8px;
    transform: translateX(-20px);
}

.col-right .annotation span{
    right: 100%;
    margin-right: 8px;
    transform: translateX(20px);
} 

.annotation span b {
    color: black;
    font-weight: 600;
}

.annotation span #bullet {
    color: #F46C36;
    font-weight: 600;
}

.annotation span::after {
    content: "";
    position: absolute;
    margin-top: -5px;
    border-width: 9px;
    border-style: solid;
    top: 0.7vw;
}

.col-left .annotation span::after{
    right:100%;
    border-color: transparent black transparent transparent;
}

.col-right .annotation span::after {
    left: 100%; 
    border-color: transparent transparent transparent black;
}

.annotation:hover span{
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

/* --------------------unit 3 and 4---------------------- */
#spacethermal {
    height: 10%;
}
.sidecolthermal {
    height: 19%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spaceoscillation {
    height: 2.5%;
}
.sidecoloscillation {
    height: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

.sidecoltravellingwaves {
    height: 7.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

.sidecolcharacteristics {
    height: 19%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkmagenta;
    
}


#spacegas {
    height: 1.7%;
}
.sidecolgas {
    height: 31.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spacebehaviour {
    height: 1.2%;
}
.sidecolbehaviour {
    height: 31.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

/* -----------------------unit 5 and 6----------------------------- */
#spaceelecfield{
    height: 3.7%;
}
.sidecolElecfield{
    height: 41%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spaceEleccells{
    height: 1.3%;
}
.sidecolEleccells{
    height: 9.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spaceCircularmotion{
    height: 2.1%;
}
.sidecolCircularmotion{
    height: 18.4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

#spaceEleccurrent{
    height: 12.3%;
}
.sidecolEleccurrent{
    height: 17%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spaceMageffect{
    height: 12.1%;
}
.sidecolMageffect{
    height: 13.4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spaceLawofgravitation{
    height: 2.3%;
}
.sidecolLawofgravitation{
    height: 19.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

/* ----------------------------unit 7 and 8--------------------- */
#spaceradioactivity{
    height: 10.4%;
}
.sidecolradioactivity{
    height: 11.7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spacematter{
    height: 5.2%;
}
.sidecolmatter{
    height: 18.3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spaceEnergysources{
    height: 18.6%;
}
.sidecolEnergysources{
    height: 7.9%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

#spacereactions{
    height: 11.5%;
}
.sidecolreactions{
    height: 6.6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spacelleptons{
    height: 9.5%;
}
.sidecolleptons{
    height: 9%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

#spaceEnergytransfer{
    height: 26%;
}
.sidecolEnergytransfer{
    height: 18.1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

/* --------------------unit 9--------------------- */
#spaceshm{
    height: 18.3%;
}
.sidecolshm{
    height: 34%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

#spaceResolution{
    height: 7.1%;
}
.sidecolResolution{
    height: 24.6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spacediffraction{
    height: 16.9%;
}
.sidecoldiffraction{
    height: 6.6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spaceInterference{
    height: 3.8%;
}
.sidecolInterference{
    height: 24%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spaceDopplereffect{
    height: 7.3%;   
}
.sidecolDopplereffect{
    height: 24.8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

/* -------------------unit 10--------------- */
#spaceFields{
    height: 13.2%;
}
.sidecolFields{
    height: 15.6%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spaceFieldsatwork{
    height: 6.5%;
}
.sidecolFieldsatwork{
    height: 54.7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}


/* -------------------unit 11 and 12------------------- */
#spaceInduction{
    height: 9.6%;
}
.sidecolInduction{
    height: 18.4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spacetransmission{
    height: 1.9%;
}
.sidecoltransmission{
    height: 28.8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

#spacewithradiation{
    height: 1.9%;
}
.sidecolwithradiation{
    height: 32.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkgreen;
    
}

#spaceCapacitance{
    height: 11.2%;
}
.sidecolCapacitance{
    height: 42%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkblue;
    
}

#spaceNuclearphysics{
    height: 6%;
}
.sidecolNuclearphysics{
    height: 34%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: darkred;
    
}

